
.greetings {
    position: relative;
    bottom: 10%;
    width: 30%;
    left: 30%;
    
}

.boria {
    position: relative;
    left:23%;
    width: 35%;
    border: 10px solid transparent;
    border-spacing: 10%;
    padding-top: 5%;
    
    
}

.socialinks {
    display: flex;
    position: relative;
    left: 3%;
    text-align: left;
    padding: 2%;

}
