
.bio {
    background-image: url('../../components/assets/lluis1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.bio-text {
    position: relative;
    left: 3%;
    bottom: 15%;
    letter-spacing: 2%;
    transition: 3.3s; 
    text-align: left;
    padding-right: 2%;
}

.white {
    color: transparent;
}

.band-text {
    position: relative;
    left: 2%;
    letter-spacing: 3%;
    transition: 3.3s; 
    text-align: left;
    padding-left: 10%;
}







