
.btn--vertical--outline {
    background-color: transparent;
    outline: none;
    border: transparent;
    font-style: 'SpaceMono-Regular';
    font-size: 60px;
    color: grey;
    transform: rotate(-90deg);
}